server {
    listen 8080;
    server_name myserver;

    root www;
    autoindex off;
    client_max_body_size 4784984894;

    location / {
        index index.html;
        root www;
        autoindex off;
        methods GET POST;
    }

    location /videos {
        root www;
        methods GET;
    }

    location /error_pages {
        autoindex on;
        methods GET;
    }

    location /upload {
        upload_store uploads;
        root www;
        methods POST GET DELETE;
    }

    location /cgi-bin {
        root www;
        cgi_extension .py;
        cgi_pass /usr/bin/python3;
        methods GET POST;
    }
}

#server {
#    listen 5858;
#    server_name myserver;
#
#    root www;
#    index index.html;
#    autoindex autoindex;
#
#    error_page 404 /errors/404.html;
#    client_max_body_size 1001100;
#
#    location / {
#        root www;
#        index index.html;
#        autoindex off;
#        methods GET POST;
#    }
#
#    location /images {
#        root www/images;
#        methods GET POST;
#    }
#
#    location /redirect {
#        return 301 http://example.com;
#    }
#}

