server {
    listen 127.0.0.1:8080;
    server_name myserver;

    root www;
    autoindex off;
    client_max_body_size 5000000;
    error_pages 404 www/error_pages/404.html;

    location / {
        index index.html;
        root www;
        autoindex off;
        methods GET POST;
    }

    location /videos {
        root www;
        methods GET DELETE;
    }

    location /error_pages {
        autoindex on;
        methods GET;
    }

    location /uploads {
        upload_store uploads;
        root www;
        methods POST GET DELETE;
    }

    location /cgi-bin {
        root www;
        upload_store uploads;
        cgi_extension .sh;
        cgi_pass /usr/bin/bash;
        methods GET POST;
    }
}

#server {
#    listen 127.0.0.1:5050;
#    server_name myserver;
#
#    root www;
#    index index.html;
#    autoindex autoindex;
#
#    error_page 404 /errors/404.html;
#    client_max_body_size 1001100;
#
#    location / {
#        root www;
#        index index.html;
#        autoindex off;
#        methods GET POST;
#    }
#
#    location /images {
#        root www/images;
#        methods GET POST;
#    }
#
#    location /redirect {
#        return 301 http://example.com;
#    }
#}

